.overlay {
	position: fixed;
	top: 0%;
	left: 0%;
	width: 100%;
	height: 100%;
	background-color: #555;
	z-index: 1000;
	opacity: 0.6;
}

.irs-single {
	top: -5px;
}

.atcs-site-dialog {
	/* wrapper */
	top: 0px;
	bottom: 0px;
	left: 0px;
	right: 0px;
	z-index: 11000000000;

	overflow: hidden;
	width: 95%;
	max-width: 607px;
	padding: 0;
	border-width: 0;
	border-radius: 5px;
	background: transparent;
	box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.3);
	font:
		16px "Roboto",
		Arial,
		sans-serif;
	display: block;
	line-height: normal;

	/* initial */
	position: absolute;
	height: -webkit-fit-content;
	color: black;
	margin: auto;
	border-style: solid;
	border-color: initial;
	border-image: initial;
}

.atcs-site-dialog h1 {
	/*font-size: 20px !important;
    font-weight: normal !important;*/
	margin: 0;
	color: #fff;
	font:
		20px "Roboto",
		Arial,
		sans-serif;
}

.atcs-site-dialog p {
	font:
		14px "Roboto",
		Arial,
		sans-serif;
}

.atcs-site-dialog p.header {
	font:
		13px "Roboto",
		Arial,
		sans-serif;
	font-weight: bold;
	margin-top: 0;
	/*margin-bottom: 0 !important;*/
}

.atcs-site-dialog .dialog-header {
	padding: 12px 20px;
	padding-top: 13px;
	background-color: #ffc426;
	height: auto;
	position: relative;
	min-width: inherit;
}

.atcs-site-dialog .dialog-content {
	padding: 20px 40px;
	color: #555;
	background-color: #fff;
	/*display: none;*/
	top: 0;
	left: 0;
	position: absolute;
	box-sizing: border-box;
	width: 100%;
}

.atcs-site-dialog .dialog-content.active-step {
	/*display: block;*/
}

.atcs-site-dialog .wizard-step-one {
	padding-top: 34px;
}

.atcs-site-dialog .wizard-intro {
	margin-bottom: 10px;
	font-size: 15px;
}

.atcs-site-dialog .wizard-step-two-question {
	margin-top: 16px;
}

.atcs-site-dialog .wizard-step-three-hint {
	font-size: 11px;
	font-weight: 100;
}

.atcs-site-dialog .dialog-content /*p:last-of-type*/,
.atcs-site-dialog .dialog-content p:only-child {
	margin-top: 0;
	margin-bottom: 0;
	font:
		14px "Roboto",
		Arial,
		sans-serif;
}

.atcs-site-dialog .btn-group {
	padding: 9px 10px;
	text-align: right;
	background-color: #e6e9ed;
}

.dialog-content-main {
	height: 370px;
	position: relative;
	background-color: #fff;
}

.atcsbtn {
	padding: 10px 15px;
	cursor: pointer;
	color: #555;
	border-width: 1px;
	border-style: solid;
	border-radius: 3px;
	background-color: #f3f3f3;
	text-transform: none;
	font:
		13.3px Arial,
		sans-serif;
	box-shadow: none;
	margin: 0px;
	margin-left: 6px;
	display: none;
}

.atcsbtn.active {
	display: inline-block;
}

.btn-danger {
	color: #fff;
	border-color: #73aae2;
	background-color: #71b2f3;
}

.btn-danger:hover {
	background-color: #79bcff; /* d 5% */
}

.btn-cancel {
	color: #666;
	border-color: #ddd;
}

.btn-cancel:hover {
	background-color: #f3f3f3; /* d 5% */
}

/*****************Content**********************/

.pattern {
	margin-top: 3px;
	width: 100%;
}

.sliders {
	margin-top: 33px;
}

.slider-span {
	display: table-cell;
	vertical-align: middle;
}

.slider-span.page {
	padding-left: 15px;
}

#siteSlider,
#pageSlider {
	width: 175px;
}

.hidden,
.hidden div {
	display: none;
}

/* Slider */
.close-sliders .irs-single {
	color: #000;
	background: #fff;
	font:
		14px "Roboto",
		Arial,
		sans-serif;
}

.tooltip {
	text-decoration: none;
	position: relative;
}

#tooltip-span {
	display: none;
}

.unused-tabs:hover #tooltip-span {
	display: block;
	z-index: 1000000;
}

.tooltip:hover #tooltip-span {
	display: block;
	position: fixed;
	overflow: hidden;
}
